       .div1
	{
		width:650px;
		height:45px;
		background-color:grey;
		position:fixed;
		left:250px;
		bottom:50px;
	}
	.div2
	{
		width:100px;
		height:45px;
		background-color:lightblue;
		position:fixed;
		left:900px;
		bottom:50px;
	}
	.div3
	{
		width:100px;
		height:45px;
		background-color:orange;
		position:fixed;
		left:1000px;
		bottom:50px;
	}
	#canvas1
	{
		border:1px solid white;
	}